<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <link rel="icon" type="image/icon" href="/meowicon.ico">
    {{ if page.title }}
    <title>{{ page.title | default: site.title }}</title>
    {{ end if }}
    <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<body>

